/*.material-icons.couleur {
     color: #FB8C00; 
}*/

.material-icons.taille { 
    font-size: 36px; 
}

.notif{
    margin-top: 20px;
    margin-left:20px;
}
::ng-deep .mat-menu-panel {
    width: 1000px !important;
}

